<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learning</title>
    <link rel="stylesheet" href="muk.css">
</head>

<body>
    <div class="container">
        <!-- start of nav bar -->
        <nav class="nav-bar">
            <div class="left" >

                <h1 class="school-name">Makerere University </h1>
                <h1 class="campus-name">E-learning Environment</h1>
            </div>
            <div class="right">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Webmail</a></li>
                    <li><a href="#">Colleges</a></li>
                </ul>
            </div>

        </nav>
        <!-- End of nav bar -->

        <div class="form-section">
            <form action="" class="form1">
                <h1>
                    Makerere University E-learning Environment
                </h1>
                <div class="form-body">
                    <div class="form-left">
                        <input type="text" name="" id="" placeholder="Enter username">
                        <input type="password" name="" id="" placeholder="Enter your password">
                        <span><input type="checkbox" name="" id="">Remember username</span>
                        <button>Log in</button>
                    </div>
                    
                    <div class="form-right">
                        <p class="pr1">Forgot Password or Username? <a href="#">Click here</a></p>
                        <p class="pr2">Cookies must be enabled in your browser</p>
                    </div>
                </div>
            </form>

            <!-- end of the first form -->
            <form action="" class="form2">
                <h2>Is this your first time here?</h2>
                <p>For full access to this site, you need to first create an account</p>
                <button>Create new account</button>
            </form>
            <!-- End of second form -->
        </div>
    </div>
</body>

</html>