body{
    background: rgb(238, 233, 233);
    padding-top: 70px;  
    padding-left: 100px;  
}


.search{
    padding: 5px 40px 5px 5px;
    border: 2px solid gray;
    border-radius: 5px;
}


table, tbody, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}