* {
    margin: 0;
}

.newlayout {
  display: flex;
  flex-direction: column;
}

.newlayout div {
  background: red;
  border: 1px solid black;
  height: 100px;
  margin: 10px;
}

.newlayout2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.newlayout2 div {
  background: black;
  border: 1px solid red;
  width: 200px;
  height: 100px;
  margin: 10px;
}

.first {
    flex-shrink: 0;
}

.second {
    flex-shrink: 2;
}

.centerdiv {
    background: blue;
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child1 {
    background: yellow;
    height: 100px;
    width: 100px;
    margin: 5px;

}